button{
    &:active {
        background-color: red;
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $dark-color;
    color: $primary-color;
    border: solid $primary-color 3px;
    height: 3em;
    width: 103px;
    text-align: center;

    &.active {
        background-color: $primary-color;
        color: $dark-color;
    }

    &:hover {
        border-color: #70d370;
        font-weight: 600;
    }

    &.hoverable:hover {
        background-color: $primary-color;
        color : $dark-color;
    }
}