$solidbarHeight : 20px;
$dark-color : #111;
$primary-color: #0eb442;

*{
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: $dark-color;
    color: #0eb442;
    height: 100vh;
}


.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%
}

@import 'Util';
@import 'Sidenav';
@import 'Button';
@import 'Loader';
@import 'Section';
@import 'BookListingPage';
@import 'Form';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
